*.xml
heatmap/.DS_Store
heatmap/.DS_Store
*.pyc
*.jpg
*.bmp
*.exe
Coronal Hole Suite/dna.css
Coronal Hole Suite/index.html
*.css
*.map
*.iml
*.csv
*.db
*.pkl
scanCHImages/images/files.txt
*.log
dnacore04/data.json
dnacore04/spk_bz.svg
dnacore04/spk_GOES_16.svg
dnacore04/spk_Ruru_Obs.svg
