*.xml
heatmap/.DS_Store
*.pyc
*.jpg
*.bmp
*.exe
Coronal Hole Suite/dna.css
Coronal Hole Suite/index.html
*.css
*.map
*.iml
*.csv
*.db
*.pkl
scanCHImages/images/files.txt
*.log
*.svg
*.json
CME_Detector/vaughn-prv
CME_Detector/cme.gif
*.bat
*.bat
CME_Detector/get_data.bat
*.bat
